#login {
  height: 200px; 
  position: absolute;
  top: 90px;
  width: 100%; 
}

input { 
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border: 1px solid #efefef;
  box-sizing : border-box;
  font-size: 12pt;
}

input#email { 
  padding: 15px 0 15px 15px;
  width: 100%;
}

input#password { 
  padding: 15px 0px 15px 65px;
  width: 100%;
}

input:focus { 
  border:1px solid #779ecb;
  outline: none;
}

#showPass { 
  color: #ccc;
  cursor: pointer;
  font-size: 10pt;
  float: right;
  padding: 15px;
  position: absolute;
  text-align: right; 
  top: 113px;
}

.hidden { 
  display: none;
}